body,
html,
nav .logo,
nav .brand-logo,
nav ul a,
.page-footer .footer-copyrigh
{
    color:#000!important;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.centerbox
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mt-10
{
    top: 10px;
    position: relative;
}

main
{
    flex: 1 0 auto;
    background-color: #e1f5fe;
}

nav a.sidenav-trigger
{
    display: block!important;
}

.moblogo
{
    text-align: center;
}

.moblogo img
{
    width: 70%;
    margin: 20px 0;
}

.mt-7
{
    margin-top: 70px!important;
}

.offm
{
    margin: 0;
}

.send
{
    display: none;
}

.wrong
{
    display: none;
    color: red !important;
}

.politic
{
    color: rgba(0,0,0,0.8);
}

.mt-10
{
    position: relative;
    top: 10px;
}

.w-100
{
    width: 100%;
}

/*home*/

#home
{

}

.home_title
{
    margin: 100px 0px;
}

.home_title_first
{
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    margin: 0;
}

.home_title_second
{
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0;
}

.home_title_third
{
    font-size: 2.2rem;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
}

.home_title_fourth
{
    font-size: 2.2rem;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
}

.home_title_footer
{
    font-size: 1.4rem;
    position: relative;
    padding-left: 40px;
}

.home_title_footer:before
{
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #03a9f4;
    top:16px;
    left:-20px;
}

.home_imgbox
{
    padding: 30px;
    padding-top: 50px;
}


.img-block
{
    max-width: 120%;
}

.home_button
{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 0;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.brand-logo.center img
{
    width: 100%;
    position: relative;
    top:10px;
}

/*Premium*/

#premium
{
    margin: 70px 0;
}

.premium_box
{
    border: 1px #03a9f4;
    border-radius: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.premium_h4
{
    border: 2px solid rgba(3,169,244,.1);
    text-align: left;
    border-radius: 1rem;
    margin-bottom: 0;
    padding: 10px 1.5rem 12px;
    font-size: 2.25rem;
    font-weight: bold;
}

.premium_img img
{
    width: auto;
    height: 400px;
    opacity: .1;
    position: relative;
    top:13px;
}

.premium_ico
{
    padding: 20px 30px;
    background-color: #03a9f4;
    position: relative;
    border-radius: 100px;
}

.premium_ico i
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 2rem;
}

.premium_two
{
    position: relative;
    left: -20px;
}

.premium_text
{
    margin-bottom: 75px;
    margin-top: 0;
}

.premium_p
{
    padding-left: 20px;
    font-weight: bold;
}

/*for*/

.card .card-content
{
    text-align: center;
    background-color: #03a9f4;
    border-radius:  0 0 20px 20px;
    color: #fff;
}

.card .card-content i
{
    font-size: 4rem;
    margin: 20px;
}

.card .card-content p
{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.card .card-content
{
    border-top: none!important;
}

.card .card-action
{
    text-align: center;
}

.card .card-action p
{
    min-height: 130px;
}

.bm:before
 {
     content: url("../img/bm.png");
     position: absolute;
     top:-20px;
     width: 40px;
     height: 40px;
     left:-20px;
 }

.bms:before
{
    content: url("../img/bm.png");
    position: absolute;
    top:-20px;
    width: 40px;
    height: 40px;
    left:calc(50% - 20px);

}

.bmt:before
{
    content: url("../img/bm.png");
    position: absolute;
    top:-20px;
    width: 40px;
    height: 40px;
    right:-20px;
}


.befor-after
{
    color:#000000;
    text-transform:uppercase;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    white-space:nowrap;
    margin:0px;
    padding:50px 0;
    font-weight: bold;
    font-size: 1.4rem;
}

.befor-after span
{
    margin:0 20px
}

.befor-after:after,
.befor-after:before
{
    content:"";
    height:3px;
    width:100%;
    position:relative;
    background-color:#03a9f4;
    display:inline-block
}

/*content*/

.collapsible-header:hover i
{
    color:#fff!important;
}

.collapsible-header:hover
{
    background-color:#03a9f4;
    color: #fff;
}

.collapsible-body
{
    padding: 0;
}

.collection .collection-item.active
{
    background-color: #000;
    color: #eafaf9;
}

.collection a.collection-item
{
    color: #03a9f4;
}

.collection-item .badge i
{
    font-size: 1.5rem;
    color: #03a9f4;
}

/*more*/

.more_title
{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.more_first
{
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

.more_first:hover
{
    background: #03a9f4;
    color: #fff;
}

.r
{
    position: relative;
}

.more_img
{
    width: 100%;
    position: absolute;
    top:50%;
}


/*injoy*/

.injoy_box
{
    background-color: #03a9f4;
    border-radius: 20px;
    padding: 20px;
}

.injoy_box:hover .injoy_p
{
    color: #fff;
}


.injoy_img
{
    width: 100%;
}

.injoy_p
{
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    pointer-events: none;
}

/*free*/

.free_img
{
    width: 100%;
    padding: 0 30px;
}

.free_title
{
   font-size: 3rem;
   font-weight: bold;
    text-transform: uppercase;
}

.free_text
{
    font-size: 2rem;
}

/*----------------------0 - 399.99---------------------------------*/

@media screen and (min-width: 0px) and (max-width: 399.99px)
{
    .collapsible-header
    {
        font-size: 10px;
    }

    .home_imgbox
    {
        padding-top: 30px!important;
    }

    .table-first
    {
        display: table-header-group;
        float: unset!important;
    }

    .table-last
    {
        display: table-footer-group;
        float: unset!important;
    }

    .home_title
    {
        padding: 0 15px;
    }

    .home_imgbox
    {
        padding-left: 15px!important;
    }

    .home_imgbox img
    {
        max-width: 100%;
    }

    .home_title
    {
        margin: 0px;
    }

    .home_title_second
    {
        font-size: 2.5rem;
    }

    .home_title_third,
    .home_title_fourth
    {
        font-size: 1.7rem;
    }

    .home_title_footer
    {
        padding-left: 0;
    }

    .home_title_footer::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #03a9f4;
        top: 16px;
        left: -20px;
        display: none;
    }

    .befor-after
    {
        font-size: 1rem;
    }

    span.badge
    {
        display: none;
    }

    .more_title
    {
        font-size: 1.1rem;
    }

    .more_img
    {
        width: 100%;
        position: relative;
        top: 0%;
    }

    .befor-after
    {
        padding: 15px 0;
    }

    .mt-7
    {
        margin-top: 0px!important;
    }

    .injoy_box:first-child
    {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .injoy_img
    {
        width: 50%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }

    .injoy_p
    {
        text-align: center;
    }

    .free_title
    {
        font-size: 2.7rem;
        text-align: center;
    }
    .free_text
    {
        text-align: center;
    }
    /*Premium*/

    #premium
    {
        margin: 35px 0;
        margin-bottom: 0!important;
    }

    .premium_box
    {
        display: block;
    }

    .premium_h4
    {
        text-align: center;
        margin-bottom: 50px;
    }

    .premium_img img
    {
        display: none;
    }

    .premium_ico
    {
        padding: 10px 20px;
    }

    .premium_ico i
    {
        font-size: 1.5rem;
    }

    .premium_two
    {
        position: relative;
        left: 0px;

    }

    .premium_text
    {
        margin-bottom: 75px;
        margin-top: 35px;
    }

    .premium_p
    {
        padding-left: 10px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .premium_text:last-child
    {
        margin-bottom: 10px!important;
    }

}

/*----------------------400 - 599.99---------------------------------*/

@media screen and (min-width: 400px) and (max-width: 599.99px)
{
    .modal .modal-content
    {
        padding: 16px;
    }

    .home_imgbox
    {
        padding-top: 30px!important;
    }

    .table-first
    {
        display: table-header-group;
        float: unset!important;
    }

    .table-last
    {
        display: table-footer-group;
        float: unset!important;
    }

    .home_title
    {
        padding: 0 15px;
    }

    .home_imgbox
    {
        padding-left: 15px!important;
    }

    .home_imgbox img
    {
        max-width: 100%;
    }

    .home_title
    {
        margin: 0px;
    }

    .home_title_second
    {
        font-size: 2.5rem;
    }

    .home_title_third,
    .home_title_fourth
    {
        font-size: 1.7rem;
    }

    .home_title_footer
    {
        padding-left: 0;
    }

    .home_title_footer::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #03a9f4;
        top: 16px;
        left: -20px;
        display: none;
    }

    .befor-after
    {
        font-size: 1rem;
    }

    span.badge
    {
        display: none;
    }

    .more_title
    {
        font-size: 1.1rem;
    }

    .more_img
    {
        width: 100%;
        position: relative;
        top: 0%;
    }

    .befor-after
    {
        padding: 15px 0;
    }

    .mt-7
    {
        margin-top: 0px!important;
    }

    .injoy_box:first-child
    {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .injoy_img
    {
        width: 50%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }

    .injoy_p
    {
      text-align: center;
    }

    .free_title
    {
        font-size: 2.7rem;
        text-align: center;
    }
    .free_text
    {
        text-align: center;
    }

    /*Premium*/

    #premium
    {
        margin: 35px 0;
        margin-bottom: 0!important;
    }

    .premium_box
    {
        display: block;
    }

    .premium_h4
    {
        text-align: center;
        margin-bottom: 50px;
    }

    .premium_img img
    {
        display: none;
    }

    .premium_ico
    {
        padding: 10px 20px;
    }

    .premium_ico i
    {
        font-size: 1.5rem;
    }

    .premium_two
    {
        position: relative;
        left: 0px;

    }

    .premium_text
    {
        margin-bottom: 75px;
        margin-top: 35px;
    }

    .premium_p
    {
        padding-left: 10px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .premium_text:last-child
    {
        margin-bottom: 10px!important;
    }

}

/*----------------------600 - 1079.99---------------------------------*/

@media screen and (min-width: 600px) and (max-width: 1079.99px)
{

    .modal .modal-content
    {
        padding: 16px;
    }

    .home_imgbox
    {
        padding-top: 30px!important;
    }

    .home_title
    {

    }

    .home_imgbox
    {
        padding-left: 15px!important;
    }

    .home_imgbox img
    {
        max-width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .home_title
    {
        margin: 35px;
    }

    .home_title_second
    {

    }

    .home_title_third,
    .home_title_fourth
    {

    }

    .home_title_footer
    {

    }

    .home_title_footer::before
    {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #03a9f4;
        top: 16px;
        left: -20px;
    }

    .injoy_img
    {
        width: 50%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }

    .injoy_p
    {
        text-align: center;
    }

    /*Premium*/

    #premium
    {
        margin: 35px 0;
        margin-bottom: 0!important;
    }

    .premium_box
    {
        display: block;
    }

    .premium_h4
    {
        text-align: center;
        margin-bottom: 50px;
    }

    .premium_img img
    {
        display: none;
    }

    .premium_ico
    {
        padding: 10px 20px;
    }

    .premium_ico i
    {
        font-size: 1.5rem;
    }

    .premium_two
    {
        position: relative;
        left: 0px;

    }

    .premium_text
    {
        margin-bottom: 75px;
        margin-top: 35px;
    }

}

/*----------------------600 - 599.99---------------------------------*/

@media screen and (min-width: 1080px) and (max-width: 1200px)
{

}



/*update*/

/* input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid #03a9f4;
    -webkit-box-shadow: 0 1px 0 0 #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}

.input-field .prefix.active
{
    color: #03a9f4;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label
{
    color: #03a9f4;
} */